.img-profile {
    max-width: 200px;
    max-height: 200px
}

.jumbotron {
    display: block;
    background-image:url("../images/profile-wallpaper.jpg");
    background-size:cover;
    color: white;
    background-position: center;
}

/*body {
    background-image: url("../images/agsquare.png");
    background-repeat: repeat-xy;
}*/