.img-profile {
    max-width: 100%;
    max-height: 100%;
    height:auto;
    display:block;
    /* div height to be the same as width*/
    padding-top:100%
}

.jumbotron {
    display: block;
    background-image:url("../images/profile-wallpaper.jpg");
    background-size:cover;
    color: white;
    background-position: center;
}

/*body {
    background-image: url("../images/agsquare.png");
    background-repeat: repeat-xy;
}*/