<!--suppress HtmlUnknownTarget -->
<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h2>Richiesta di recupero password</h2>
        <p>Qualcuno sul gestionale [APPNAME] ha richiesto di recuperare la password per il tuo account.</p>
        <p>Se sei stato tu e vuoi recuperare la password, clicca sul link sottostante. In caso contrario, elimina la mail e contatta l'amministratore.</p>
        <p><a href="[SERVER]/pw_reset?token=[TOKEN]">Clicca qui per ottenere una nuova password.</a></p>
        <hr>
        <p>Ti auguriamo una buona giornata.</p>
    </body>
</html>